{% if example is defined %}
    <div id="loaded-code" data-code="{{ example.code }}"></div>
    <div id="loaded-test" data-code="{{ example.test }}"></div>
    <div id="loaded-config" data-code="{{ example.config }}"></div>
{% endif %}

{{ form_start(form) }}
    <div class="flex">
        <div class="flex-1 text-gray-700 bg-gray-400 px-1 py-1 my-2">
            <div id="editor-code" style="height:400px;"></div>
            <div class="hidden">{{ form_widget(form.code) }}</div>
            {{ form_errors(form.code) }}
        </div>
        <div class="flex-1 text-gray-700 bg-gray-400 px-1 py-1 m-2">
            <div id="editor-test" style="height:400px;"></div>
            <div class="hidden">{{ form_widget(form.test) }}</div>
            {{ form_errors(form.test) }}
        </div>
        <div class="flex-1 text-gray-700 bg-gray-400 px-1 py-1 m-2">
            <div id="editor-config" style="height:400px;"></div>
            <div class="hidden">{{ form_widget(form.config) }}</div>
            {{ form_errors(form.config) }}
        </div>
    </div>

    <button id="js-submit" class="bg-transparent hover:bg-teal-500 text-teal-700 font-semibold hover:text-white py-2 px-4 border border-teal-500 hover:border-transparent rounded" type="button">Run</button>

    <div class="hidden">{{ form_rest(form) }}</div>
{{ form_end(form) }}
