{% extends 'base.html.twig' %}

{% block title %}Infection Playground{% endblock %}

{% block body %}
    {% if example is defined %}
        <div id="loaded-code" data-code="{{ example.code }}"></div>
        <div id="loaded-test" data-code="{{ example.test }}"></div>
        <div id="loaded-config" data-code="{{ example.config }}"></div>
    {% endif %}

    {{ include('playground/_form.html.twig') }}

    {% if resultOutput is defined %}
        <div>
            <div>Result output:</div>
            <pre style="background-color: black; overflow: auto; padding: 10px 15px; font-family: monospace;">
                {{ resultOutput|raw }}
            </pre>
        </div>
    {% endif %}
{% endblock %}
