{% extends 'base.html.twig' %}

{% block title %}AST Explorer{% endblock %}

{% block body %}
    <div class="container w-full md:max-w-3xl mx-auto pb-4">
        {% if astRun is defined %}
            <p class="py-6 dark:text-gray-200"><span class="font-bold">Click</span> on code part to see its AST</p>
            <pre id="clickable-nodes-code" class="dark:bg-gray-800"><code class="hljs dark:bg-gray-800 dark:text-gray-200">&lt;?php
{{ clickableNodesDump|raw }}</code></pre>

            <p class="py-6 dark:text-gray-200">Selected code is represented by following abstract syntax tree:</p>

            <div class="row">
                <div class="col-12">
                    <pre class="dark:bg-gray-800"><code class="language-php dark:bg-gray-800 dark:text-gray-200">{{ simpleNodeDump }}</code></pre>
                </div>
            </div>

            {% if targetNodeClass %}
                <p class="py-6 dark:text-gray-200">In <code class="dark:bg-gray-700 dark:text-gray-200">Mutator::canMutate()</code> method you can use the following node to mutate it:</p>
                <pre class="dark:bg-gray-800"><code class="language-php dark:bg-gray-800 dark:text-gray-200">{{ targetNodeClass }}</code></pre>
            {% endif %}
        {% endif %}

        <p class="py-6 dark:text-gray-200">
            {% if astRun is defined %}
                Update the code and generate new AST:
            {% else %}
                Add PHP code to convert it to AST:
            {% endif %}
        </p>

        {{ include('ast/_form.html.twig') }}


        <div class="flex w-full items-center font-light px-4 py-12">
            <div class="flex-1 px-2">
                <p class="text-gray-600 dark:text-gray-400 text-xs md:text-base">This AST explorer is highly insired by and uses <a class="text-green-500 dark:text-green-400 no-underline hover:underline" href="https://getrector.com/ast">Rector PHP's</a> code (MIT license)</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/php.min.js"></script>

    <script>
        document.querySelectorAll('pre code.language-bash, pre code.language-php, pre code.language-yaml, pre code.language-diff, pre code.language-json').forEach((block) => {
            hljs.highlightBlock(block);
        });
    </script>

    {{ encore_entry_script_tags('ast') }}
{% endblock %}
