<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/icons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('build/icons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/icons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/icons/favicon-16x16.png') }}">
        <link rel="icon" href="{{ asset('build/logo.png') }}" type="image/png">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('tailwind') }}
        {% endblock %}
    </head>
    <body>
        <nav class="w-full z-20 flex items-center justify-between flex-wrap bg-white py-4 px-2 sm:px-6 border border-gray-200">
            <a href="https://infection-php.dev/" class="no-underline flex items-center flex-no-shrink text-white mr-6">
                <img class="h-8 w-8 mr-2" src="{{ asset('build/logo.png') }}" alt="Infection logo">
                <span class="font-medium text-xl tracking-tighter text-green-500">Infection Playground</span>
            </a>
            <div class="w-full hidden flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow ">
                    <a href="https://infection.github.io/" target="_blank" class="block mt-4 lg:inline-block text-gray-600 lg:mt-0 hover:text-gray-900 mr-4 no-underline">
                        Documentation
                    </a>
                    <a href="https://github.com/infection/infection"
                       target="_blank"
                       class="block mt-4 lg:inline-block lg:mt-0 text-gray-600 hover:text-gray-900 no-underline">
                        GitHub
                    </a>
                </div>
                <div>
                    <p class="text-gray-500">PHP Mutation Testing</p>
                </div>
            </div>
        </nav>
        <div class="w-full relative bg-white px-2">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
